<div id="<%= dom_id student %>">

  <div class="student_img">
  
  </div>

  <p>
    <strong>Name:</strong>
    <br>
    <%= student.name %>
  </p>

  <p>
    <strong>Student Number:</strong>
    <br>
    <%= student.ninehundrednumber %>
  </p>

  <p>
    <strong>Email Address:</strong>
    <br>
    <%= student.emailaddress %>
  </p>

  <p>
    <strong>Phone Number:</strong>
    <br>
    <%= student.phonenumber %>
  </p>

  <p>
    <strong>Physical Address:</strong>
    <br>
    <%= student.physicaladdress %>
  </p>

</div>
