<p style="color: green"><%= notice %></p>

<%= render @course %>

<div>
  <div class="submit"><%= button_to "Destroy this course", @course, method: :delete %></div>

  <div class="edit_nav_button">
    <%= link_to "Edit this course", edit_course_path(@course) %> |
    <%= link_to "Back to courses", courses_path %>
  </div>
</div>
